<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    {% if user.is_authenticated %}
    <b>환영합니다. {{ user.username }} 님!</b>
    <a href="{% url 'writing' %}">글쓰기</a>
    <a href="{% url 'mypage' %}">mypage</a>
    {% else %}
    <a href="{% url 'signup' %}">Signup</a>
    <a href="{% url 'login' %}">Login</a>

    {% endif %}
</body>
</html>